body{
    color: #181E30;
    font-family:"ABC Repro Unlicensed Trial Regular", sans-serif;
    font-size: 16px;
    line-height: 150%;
}

h1{
    font-family:"ABC Repro Light Unlicensed Trial Light", sans-serif;
    font-size: 30px;
    line-height: 120%;
    margin: 0px;
}
p {
    font-family:"ABC Repro Unlicensed Trial Regular", sans-serif;
    font-size: 16px;
    line-height: 150%;
    margin: 0px;
}
p.small {
    font-family:"ABC Repro Unlicensed Trial Regular", sans-serif;
    font-size: 14px;
    line-height: 150%;
    margin: 0px;
}

.subtle{
    color: #828389;
}


.job-row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
    padding: 20px 0px;
    border-top: 1px solid #EEEFF1;
    text-decoration: none;
    color:inherit;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

    .job-row:hover{
        background-color:#FBFBFD;
    }

    .job-row:visited{
        color: #828389;
    }

    @media (max-width:768px) {
        .job-row{
            flex-direction: column;
            align-items: flex-start;
        }
    }

.logo-container{
    display: flex;
    width: 100%;
    max-width: 220px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
}

    .logo-container img{
        width: 32px;
        height: 32px;
        border: 1px solid #EEEFF1;
    }   

    @media (max-width:768px) {
        .logo-container{
            flex-direction: column;
            align-items: flex-start;
        }

        .logo-container img{
            width: 56px;
            height: 56px;
        }
    }

.button{
    padding: 10px 20px;
    background-color: #181E30;
    text-decoration: none;
    color: #FBFBFD;
    border-radius: 100px;
    width: 100%;
    text-align: center;
    font-family:"ABC Repro Unlicensed Trial Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.spacer{
    display: block;
    width: 100%;
}

    .spacer.xxs{
        height: 16px;
    }

.divider{
    background-color: #EEEFF1;
    width: 100%;
    height: 1px;
}

.pills-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.pill, a.pill {
    font-size: 14px;
    background-color: white;
    border-radius: 100px;
    border: 1px solid #EEEFF1;
    padding: 4px 16px;
    display: flex;
    line-height: 145%;
    text-decoration: none;
    color: #181E30;
}
    a.pill:hover{
        background-color: #FBFBFD;
    }

.pill.strong{
    background-color: #FBFBFD;
    border: none;
}


.large-desktop{
    display: none;
}

.posted-on{
    text-align: right;
}

.job-title{
    font-size: 14px;
    line-height: 20px;
    font-family: "ABC Repro Unlicensed Trial Regular", sans-serif;
    margin: 0px;
}

    @media (max-width:768px) {
        .posted-on{
            text-align: left;
        }

        .job-title{
            font-size: 16px;
            line-height: 24px;
        }
    }

strong{
    font-family: "ABC Repro Unlicensed Trial Bold", sans-serif;
}

.description-container{
    font-size: 16px;
    line-height: 24px;
    font-family: "ABC Repro Unlicensed Trial Regular", sans-serif;
}



/* ----------- JOB DETAILS ----------- */
.details-container{
    display: flex;
    width: 100%;
    alignItems: flex-start;
    flexDirection: row;
    justifyContent: center;
    flex-wrap: wrap;
    gap: 64px;
}

    @media (max-width:1199px) {
        .details-container {
            flex-direction: column-reverse;
            gap: 48px;
            justify-content: flex-start;
        }
        .apply-button{
            position: fixed;
            bottom: 24px;
            width: calc(100% - 48px);
        }
    }

/* ----------- DARK MODE ----------- */

@media (prefers-color-scheme: dark) {
    body{
        color: #FBFBFD;  
    }

    .job-row{
        border-color: rgba(255,255,255,0.04);
    }

        .job-row:hover{
            background-color:rgba(255,255,255,0.02);
        }

    .button{
        background-color: #FBFBFD;
        color: #181E30;
    }

    .divider{
        background-color: rgba(255,255,255,0.04);
    }
    .pill, a.pill{
        border-color: rgba(255,255,255,0.04);
        background-color: transparent;
        color: #FBFBFD;
    }
        .pill:hover, a.pill:hover{
            border-color: rgba(255,255,255,0.064);
            color: #FBFBFD;
        }
    .pill.strong{
        background-color: rgba(255,255,255,0.04);
    }

    .logo-container img{
        border: 1px solid rgba(255,255,255,0.04);
    }  
}

/* ----------- MOBILE ----------- */

@media (max-width:1199px) {
    .no-mobile{
        display: none;
    }
}

/* ----------- LARGE ----------- */


@media (min-width:1399px) {
    .large-desktop{
        display: block;
    }
}